*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

	html{overflow: hidden;}
 
html, body{width: 100%; height: 100%;}
 
.content{
	width: 100%; 
	height: 100%;
	background-color: blueviolet;
	position: relative;
	  height: 100vh; /* 화면 전체 높이로 설정 */
            display: flex;
            align-items: center;
            justify-content: center;
}
.mainimg {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

.content > h1{
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
 
	font-size: 20em;
	font-weight: bold;
	text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
 
}
.content:nth-child(even){background-color: #333;}

/* fullpage */
			   .fp-tableCell{position:relative; z-index:1;}
			   .chap_list_wrap{display:block; position:fixed; bottom:0; left:0; padding:30px; text-align:left;}
				   .chap_list_wrap ul{position:relative;}
				   .chap_list_wrap li{margin-bottom:20px; cursor:pointer;}
					   .chap_list_wrap li:last-child{margin-bottom:0;}
					   .chap_list_wrap li span{width:0px; height:2px; border-radius:100%; opacity:0.2; background:none; background:#1c1c1b; cursor:pointer; display:inline-block; vertical-align:middle; transition:all 0.2s; -moz-transition:all 0.2s; -webkit-transition:all 0.2s;}
						   .chap_list_wrap li.on span{width:10px; background:#1c1c1b; opacity:1;}
						   .chap_list_wrap li span:hover{width:10px; background:#1c1c1b; opacity:1;}
						   .chap_list_wrap li .chap_list_wrap_title{padding-left:0px; opacity:0.2; display:inline-block; vertical-align:middle; cursor:pointer;}
						   .chap_list_wrap li.on .chap_list_wrap_title{opacity:1;}
		   
					   .chap_list_wrap li .chap_list_sub_wrap{padding-left:30px; margin-top:15px; line-height:1.2;}
						   .chap_list_wrap li .chap_list_sub_wrap span{display:none;}
							   .chap_list_wrap li .chap_list_sub_wrap ul li{position:relative; margin-bottom:0;}
								   .chap_list_wrap li .chap_list_sub_wrap ul li a{display:block; padding-bottom:10px;}
									   .chap_list_wrap li .chap_list_sub_wrap ul li:before{position:absolute; content:""; top:50%; height:1px; width:10px; background:rgba(255,255,255,0.3);}
										   .chap_list_wrap li .chap_list_sub_wrap ul li.on:before{background:rgba(255,255,255,0.7);}
									   .chap_list_wrap li .chap_list_sub_wrap .chap_list_wrap_title{font-weight:normal; padding-left:20px; opacity:0.4;}
										   .chap_list_wrap li .chap_list_sub_wrap ul li.on .chap_list_wrap_title{font-weight:600; opacity:1;}
				   .section_foot.cont_box{height:auto !important; padding:0 !important;}
				   .section_foot .fp-tableCell{height:auto !important;}
				   .section_middle{width:100%; z-index:1; position:absolute; top:50%; left:50%; -webkit-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%); transform:translate(-50%,-50%);}
		   