<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
				"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
				
<mapper namespace="menu_mapper">

	<!-- 음료 리스트 조회 및 검색 -->
	<select id="findDrinkBySearchCondition" resultType="MenuList" parameterType="MenuSearchCondition">
	    SELECT m.menu_number, m.menu_type, m.menu_name, m.menu_description, m.menu_size, m.menu_calories, m.menu_allergy_info, m.menu_saturated_fat, m.menu_sugars, m.menu_sodium, m.menu_protein, m.menu_caffeine, f.file_id, f.file_name, f.file_path
	    FROM menu m
	    LEFT JOIN FILE_INFO f ON m.file_id = f.file_id
	    WHERE 1 = 1
	        AND m.menu_number BETWEEN 1 AND 1000
	    <if test="searchType == 'menuNumber' and searchKeyword != null and searchKeyword != ''">
	        AND TO_CHAR(m.menu_number) LIKE '%' || #{searchKeyword} || '%'
	    </if>
	    <if test="searchType == 'menuName' and searchKeyword != null and searchKeyword != ''">
	        AND LOWER(m.menu_name) LIKE '%' || LOWER(#{searchKeyword}) || '%'
	    </if>
	    <if test="searchType == 'menuDescription' and searchKeyword != null and searchKeyword != ''">
	        AND LOWER(m.menu_description) LIKE '%' || LOWER(#{searchKeyword}) || '%'
	    </if>
	    <if test="menuType != null and menuType != ''">
	        AND m.menu_type = #{menuType}
	    </if>
	    <if test="menuSize != null and menuSize != ''">
	        AND m.menu_size = #{menuSize}
	    </if>
	    <if test="menuAllergyInfo != null and menuAllergyInfo != ''">
	        AND m.menu_allergy_info = #{menuAllergyInfo}
	    </if>
	    <if test="searchType == 'menuCalories' and searchKeyword != null and searchKeyword != ''">
	        AND TO_CHAR(m.menu_calories) LIKE '%' || #{searchKeyword} || '%'
	    </if>
	    <if test="searchType == 'menuSaturatedFat' and searchKeyword != null and searchKeyword != ''">
	        AND TO_CHAR(m.menu_saturated_fat) LIKE '%' || #{searchKeyword} || '%'
	    </if>
	    <if test="searchType == 'menuSugars' and searchKeyword != null and searchKeyword != ''">
	        AND TO_CHAR(m.menu_sugars) LIKE '%' || #{searchKeyword} || '%'
	    </if>
	    <if test="searchType == 'menuSodium' and searchKeyword != null and searchKeyword != ''">
	        AND TO_CHAR(m.menu_sodium) LIKE '%' || #{searchKeyword} || '%'
	    </if>
	    <if test="searchType == 'menuProtein' and searchKeyword != null and searchKeyword != ''">
	        AND TO_CHAR(m.menu_protein) LIKE '%' || #{searchKeyword} || '%'
	    </if>
	    <if test="searchType == 'menuCaffeine' and searchKeyword != null and searchKeyword != ''">
	        AND TO_CHAR(m.menu_caffeine) LIKE '%' || #{searchKeyword} || '%'
	    </if>
	    ORDER BY m.menu_number
	</select>
	
	<!-- 음료 신규등록 -->	
	<insert id="saveDrinkList" parameterType="MenuList">
		INSERT INTO menu
		VALUES (drink_number_seq.NEXTVAL, #{menuType}, #{menuName}, #{menuDescription}, #{menuSize}, #{menuCalories}, 
				#{menuAllergyInfo}, #{menuSaturatedFat}, #{menuSugars}, #{menuSodium}, #{menuProtein}, #{menuCaffeine}, #{fileId} )
	</insert>
	
	<!-- 파일 정보 생성 -->
	<insert id="saveFileInfo" parameterType="FileInfo">
		INSERT INTO FILE_INFO
		VALUES ( file_info_seq.nextval, #{fileName}, #{originalFileName}, 
				#{filePath}, #{fileExtension}, #{fileSize})
	</insert> 
	
	<!-- DB에 저장된 fileId를 가져오기 위해.. -->
	<select id="findFileInfoByFileName" parameterType="String" resultType="FileInfo">
		SELECT * 
		FROM FILE_INFO
		WHERE file_name = #{fileName}
	</select>

	<!-- 음료 정보 수정을 위한 정보 불러오기 -->
	<select id="findMenuByMenuNumber" parameterType="int" resultType="MenuList">
		SELECT m.*, f.*
		FROM MENU m
		JOIN FILE_INFO f ON m.file_id = f.file_id
		WHERE m.menu_number = #{menu_number}
	</select>
	
	<!-- 음료 정보 수정 -->
	<update id="modifyMenu" parameterType="MenuList">
	    UPDATE menu
	    SET menu_type = #{menuType},
	        menu_name = #{menuName},
	        menu_description = #{menuDescription},
	        menu_size = #{menuSize},
	        menu_calories = #{menuCalories},
	        menu_allergy_info = #{menuAllergyInfo},
	        menu_saturated_fat = #{menuSaturatedFat},
	        menu_sugars = #{menuSugars},
	        menu_sodium = #{menuSodium},
	        menu_protein = #{menuProtein},
	        menu_caffeine = #{menuCaffeine},
	       	file_id = #{fileId}	        	         
	    WHERE menu_number = #{menuNumber}
	</update>
	
	<!-- 음료 삭제  -->
	<delete id="removeMenu" parameterType="int">
		DELETE FROM menu
		WHERE menu_number = #{menuNumber}
	</delete>
	
	<!-- 푸드 리스트 조회 및 검색 -->
	<select id="findFoodBySearchCondition" resultType="MenuList" parameterType="MenuSearchCondition">
	    SELECT m.menu_number, m.menu_type, m.menu_name, m.menu_description, m.menu_size, m.menu_calories, m.menu_allergy_info, m.menu_saturated_fat, m.menu_sugars, m.menu_sodium, m.menu_protein, m.menu_caffeine, f.file_id, f.file_name, f.file_path
	    FROM menu m
	    LEFT JOIN FILE_INFO f ON m.file_id = f.file_id
	    WHERE 1 = 1
	        AND m.menu_number BETWEEN 1001 AND 2000
	    <if test="searchType == 'menuNumber' and searchKeyword != null and searchKeyword != ''">
	        AND TO_CHAR(m.menu_number) LIKE '%' || #{searchKeyword} || '%'
	    </if>
	    <if test="searchType == 'menuName' and searchKeyword != null and searchKeyword != ''">
	        AND LOWER(m.menu_name) LIKE '%' || LOWER(#{searchKeyword}) || '%'
	    </if>
	    <if test="searchType == 'menuDescription' and searchKeyword != null and searchKeyword != ''">
	        AND LOWER(m.menu_description) LIKE '%' || LOWER(#{searchKeyword}) || '%'
	    </if>
	    <if test="menuType != null and menuType != ''">
	        AND m.menu_type = #{menuType}
	    </if>
	    
		<if test="menuSize != null and menuSize != 0">
		    AND m.menu_size &lt;= #{menuSize} 
		</if>

		<!-- 
			< 대신에 &lt; 
			> 대신에 &gt;
		 -->
	    <if test="menuAllergyInfo != null and menuAllergyInfo != ''">
	        AND m.menu_allergy_info = #{menuAllergyInfo}
	    </if>
	    <if test="searchType == 'menuCalories' and searchKeyword != null and searchKeyword != ''">
	        AND TO_CHAR(m.menu_calories) LIKE '%' || #{searchKeyword} || '%'
	    </if>
	    <if test="searchType == 'menuSaturatedFat' and searchKeyword != null and searchKeyword != ''">
	        AND TO_CHAR(m.menu_saturated_fat) LIKE '%' || #{searchKeyword} || '%'
	    </if>
	    <if test="searchType == 'menuSugars' and searchKeyword != null and searchKeyword != ''">
	        AND TO_CHAR(m.menu_sugars) LIKE '%' || #{searchKeyword} || '%'
	    </if>
	    <if test="searchType == 'menuSodium' and searchKeyword != null and searchKeyword != ''">
	        AND TO_CHAR(m.menu_sodium) LIKE '%' || #{searchKeyword} || '%'
	    </if>
	    <if test="searchType == 'menuProtein' and searchKeyword != null and searchKeyword != ''">
	        AND TO_CHAR(m.menu_protein) LIKE '%' || #{searchKeyword} || '%'
	    </if>
	    <if test="searchType == 'menuCaffeine' and searchKeyword != null and searchKeyword != ''">
	        AND TO_CHAR(m.menu_caffeine) LIKE '%' || #{searchKeyword} || '%'
	    </if>
	    ORDER BY m.menu_number
	</select>
	
	<!-- 푸드 신규등록 -->	
	<insert id="saveFoodList" parameterType="MenuList">
		INSERT INTO menu
		VALUES (food_number_seq .NEXTVAL, #{menuType}, #{menuName}, #{menuDescription}, #{menuSize}, #{menuCalories}, 
				#{menuAllergyInfo}, #{menuSaturatedFat}, #{menuSugars}, #{menuSodium}, #{menuProtein}, #{menuCaffeine}, #{fileId} )
	</insert>
	
	
</mapper>