<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	
	<Properties>
		<Property name="logNm">SpringProject_Log4j2</Property>
		<Property name="layoutPattern">[%d{yyyy/MM/dd HH:mm:ss,SSS}] [%t] [%-5level]
			[%logger{36}] %m%n</Property>
	</Properties>
	
	<Appenders>
		<Console name="Console_Appender" target="SYSTEM_OUT">
			<PatternLayout pattern="${layoutPattern}" />
		</Console>
		<RollingFile name="File_Appender"
			fileName="d:/logs/${logNm}.log"
			filePattern="logs/${logNm}_%d{yyyy-MM-dd}_%i.log.gz">
			<PatternLayout pattern="${layoutPattern}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="1000KB" />
				<TimeBasedTriggeringPolicy interval="1" />
			</Policies>
			<DefaultRolloverStrategy max="10"
				fileIndex="min" />
		</RollingFile>
	</Appenders>
	
	<Loggers>
		<Root level="INFO" additivity="false">
			<AppenderRef ref="Console_Appender" />
			<AppenderRef ref="File_Appender" />
		</Root>
		<Logger name="org.springframework" level="DEBUG"
			additivity="false">
			<AppenderRef ref="Console_Appender" />
			<AppenderRef ref="File_Appender" />
		</Logger>
		<!--하단 name에 본인이 사용하는 package명으로 수정할 것 -->
		<Logger name="com.cafeapp" level="INFO" additivity="false">
			<AppenderRef ref="Console_Appender" />
			<AppenderRef ref="File_Appender" />
		</Logger>
		<Logger name="org.springframework" level="INFO"
			additivity="false">
			<AppenderRef ref="Console_Appender" />
		</Logger>
	</Loggers>
</Configuration>