<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
				"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
				
				
<mapper namespace="customerfeedback">
	<select id="boardList" resultType="Feedback">
		<!-- SELECT feedback_number, title, user_id, feedback_date, feedback_count FROM customer_feedback ORDER BY feedback_number DESC -->
		SELECT * FROM customer_feedback ORDER BY feedback_number DESC
	</select>

	<insert id="write" parameterType="Feedback">
		INSERT INTO customer_feedback (feedbark_number,title, content, user_id,Feedback_date,feedback_count)
		VALUES (SEQ_FEEDBACK_PK.nextval, #{title}, #{content}, #{userId},#{feedbackDate},#{feedbackCount})
	</insert>
	
	<!-- MybatisConfig -->
	<select id="boardDetail" parameterType="Integer" resultType="Feedback">
		SELECT feedback_number, title, content, feedback_date, feedback_count, user_id FROM customer_feedback WHERE feedback_number=#{feedbackNumber}
	</select>
	
	<delete id="boardDelete"  parameterType="Integer">
		DELETE FROM customer_feedback WHERE feedback_number=#{feedbackNumber}
	</delete>
	
	<update id="boardUpdate" parameterType="Feedback">
		UPDATE customer_feedback SET title=#{title}, content=#{content} WHERE feedback_number=#{feedbackNumber}
	</update>
	
</mapper>