/* font */
@font-face{
	font-family:"Nanum Gothic";
	font-style:normal;
	font-weight:400;
	src:url('/plugin/font/NanumGothicRegular.eot');
	src:url('/plugin/font/NanumGothicRegular.eot?#iefix') format('embedded-opentype'),
		url('/plugin/font/NanumGothicRegular.woff') format('woff'),
		url('/plugin/font/NanumGothicRegular.ttf') format('truetype'),
		url('/plugin/font/NanumGothicRegular.svg#NanumGothicRegular') format('svg');
	src:local(※), url('/plugin/font/NanumGothicRegular.woff') format('woff');
}

@font-face{
	font-family:"Nanum Gothic";
	font-style:normal;
	font-weight:600;
	src:url('/plugin/font/NanumGothicBold.eot');
	src:url('/plugin/font/NanumGothicBold.eot?#iefix') format('embedded-opentype'),
		url('/plugin/font/NanumGothicBold.woff') format('woff'),
		url('/plugin/font/NanumGothicBold.ttf') format('truetype'),
		url('/plugin/font/NanumGothicBold.svg#NanumGothicBold') format('svg');
	src:local(※), url('/plugin/font/NanumGothicBold.woff') format('woff');
}

@font-face{
	font-family:"Nanum Gothic";
	font-style:normal;
	font-weight:800;
	src:url('/plugin/font/NanumGothicExtraBold.eot');
	src:url('/plugin/font/NanumGothicExtraBold.eot?#iefix') format('embedded-opentype'),
		url('/plugin/font/NanumGothicExtraBold.woff') format('woff'),
		url('/plugin/font/NanumGothicExtraBold.ttf') format('truetype'),
		url('/plugin/font/NanumGothicExtraBold.svg#NanumGothicExtraBold') format('svg');
	src:local(※), url('/plugin/font/NanumGothicExtraBold.woff') format('woff');
}

html, body{min-width:100%;min-height:100%;}
html{overflow-y:scroll;}
html, body, div, p, h1, h2, h3, h4, h5, h6,
ul, ol, li, dl, dt, dd, table, th, td, pre, blockquote, thead, tfoot,
form, fieldset, legend, input, textarea, button, select{margin:0;padding:0;}
body, div, table, th, td, pre, blockquote, thead, tfoot,
input, button, textarea, ol, li, ul, dl, dt, dd{font-family:'나눔고딕','Nanum Gothic','맑은고딕','Malgun Gothic','gulim','arial', 'Dotum', 'AppleGothic', sans-serif;font-weight:400;letter-spacing:-0.05em;}
body, div, table, th, td, pre, blockquote, em{font-weight:normal;font-style:normal;color:#454545;}
body, div, table, th, td, pre, blockquote{font-size:12px;}
h1, h2, h3, h4, h5, h6{font-size:1em;font-weight:600;}
b, strong{font-weight:600;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block;}
img, table, thead, tfoot, fieldset, legend, iframe{border:none;}
label, input, button, textarea, select, img{vertical-align:middle;}
textarea{display:block;width:100%;height:100px;}
input, textarea{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-appearance-webkit-border-radius:0;border-radius:0;background:none;}
button{background-color:transparent;cursor:pointer;border:0;}
legend{position:absolute;width:0;height:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden;}
hr{display:none;}
select{font-size:12px;height:23px;padding:1px;border:1px solid #ccc;background:#fff;}
ol, li, ul, dl, dt, dd{list-style-type:none;list-style:none;text-align:left;position:static;overflow:hidden;}
a:link, a:visited{color:#454545;text-decoration:none;}
a:hover, a:focus, a:active{color:#454545;text-decoration:underline;}
table{border-collapse:collapse;border-spacing:0;}
table caption{height:0;font-size:0;line-height:0;overflow:hidden;}
table th{background-color:#f8f8f8;white-space:nowrap;text-overflow:ellipsis;line-height:1.3em;}
table, th, thead, tfoot{outline:0;}
thead, tfoot{font-size:12px;line-height:1em;vertical-align:baseline;}