*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    /* all */
           a, a:link, a:focus{text-decoration:none; color:inherit; cursor:pointer;}
           img{border:0; max-width:100%; vertical-align:middle; image-rendering:-webkit-optimize-contrast;}
           .float_right{float:right;}
           .float_left{float:left;}
           .underline{text-decoration:underline;}
           .fa, .fas, .icons{vertical-align:baseline;}
           .material-icons{vertical-align:bottom; font-size:1.3em;}
           .wrap{width:100%;}
           .none{display:none !important;}
           .block{display:block;}
           .hidden{overflow:hidden;}
           .m{display:none !important; margin:0 auto;}
           .w1280{width:1280px; margin:0 auto;}
           .color{color:#fdd000 !important;}
           .color_w{color:#fff;}
           .bg_color{background:#fdd000; color:#1c1c1b; padding:0.5% 1%;}
           .red{color:#ff0000 !important;}
           .left0{left:0 !important;}
           .right0{right:0 !important;}
           .text_center{text-align:center;}
           .text_left{text-align:left !important;}
           .text_right{text-align:right;}
           .table0{display:table; width:100%; height:100%; border-spacing:0;}
           .table10{display:table; width:100%; border-spacing:10px;}
           .cell{display:table-cell; vertical-align:middle;}
           .cell10{display:table-cell; width:10%; vertical-align:middle;}
           .cell20{display:table-cell; width:20%; vertical-align:middle;}
           .cell25{display:table-cell; width:25%; vertical-align:middle;}
           .cell30{display:table-cell; width:30%; vertical-align:middle;}
           .cell33{display:table-cell; width:33%; vertical-align:middle;}
           .cell40{display:table-cell; width:40%; vertical-align:middle;}
           .cell50{display:table-cell; width:50%; vertical-align:middle;}
           .cell60{display:table-cell; width:60%; vertical-align:middle;}
           .cell66{display:table-cell; width:66%; vertical-align:middle;}
           .cell70{display:table-cell; width:70%; vertical-align:middle;}
           .cell75{display:table-cell; width:75%; vertical-align:middle;}
           .cell80{display:table-cell; width:80%; vertical-align:middle;}
           .cell90{display:table-cell; width:90%; vertical-align:middle;}
           .inline{display:inline-block; vertical-align:middle;}
           .inline20{display:inline-block; vertical-align:top; width:20%; padding-right:5px; float:left;}
           .inline25{display:inline-block; vertical-align:top; width:25%; padding-right:5px; float:left;}
           .inline33{display:inline-block; vertical-align:top; width:33.33%; padding:0 15px; float:left;}
               .inline33:first-child{padding-left:0; padding-right:30px;}
               .inline33:last-child{padding-right:0; padding-left:30px;}
           .inline50{display:inline-block; vertical-align:top; width:50%; padding-right:15px; float:left;}
               .inline50:last-child{display:inline-block; width:50%; padding-left:15px; padding-right:0px; float:left;}
           .inline66{display:inline-block; vertical-align:top; width:66.66%; padding-right:15px; float:left;}
           .inline80{display:inline-block; vertical-align:top; width:80%; padding-right:5px; float:left;}
           .overlay{position:fixed; top:0; left:0; height:100%; width:100%; background:#1c1c1b; opacity:0.7; z-index:9;}
           .close_wrap{cursor:pointer; position:absolute; right:0; top:50%; -webkit-transform:translate(0,-50%); -ms-transform:translate(0,-50%); transform:translate(0,-50%); width:25px; height:25px; z-index:5;}
           .close_wrap .close:before, .close_wrap .close:after{position:absolute; left:15px; content:''; height:25px; width:2px; background:#fff;}
               .close_wrap .close{opacity:1;}
               .close_wrap .close:before{transform:rotate(45deg);}
               .close_wrap .close:after{transform:rotate(-45deg);}
           .plus_wrap{position:absolute; right:5px; top:50%; width:30px; height:30px; margin:0 auto; -webkit-transform:translate(0,-50%); -ms-transform:translate(0,-50%); transform:translate(0,-50%);}
               .plus_wrap .plus:before, .plus_wrap .plus:after{content:""; position:absolute; background:rgba(0,0,0,0.7);}
                   .plus_wrap .plus:before{left:50%; top:5px; bottom:5px; width:1px; transform:translateX(-50%);}
                   .plus_wrap .plus:after{top:50%; left:5px; right:5px; height:1px; transform:translateY(-50%);}
           .bottom_banner{position:fixed; right:10px; bottom:10px; width:100%; max-width:65px; z-index:9;}
               .bottom_banner img{width:100%;}
       
           .robo{font-family:'Roboto', NanumSquareR; font-weight:900 !important; line-height:1 !important; letter-spacing:-1px !important;}
               .robo h1, .robo h2{font-weight:900 !important;}
       
           input:-webkit-autofill,
           input:-webkit-autofill:hover, 
           input:-webkit-autofill:focus,
           textarea:-webkit-autofill,
           textarea:-webkit-autofill:hover,
           textarea:-webkit-autofill:focus,
           select:-webkit-autofill,
           select:-webkit-autofill:hover,
           select:-webkit-autofill:focus {
               -webkit-box-shadow:0 0 0px 1000px none inset;
               transition:background-color 5000s ease-in-out 0s;
           }
    /* cont */
.cont_wrap{padding-top:106px;}
.main_body .cont_wrap{padding-top:0 !important;}
    .main_body .cont_box{overflow:hidden;}

.cont_box{padding:100px 0px; width:100%; margin:0 auto; position:relative;}
    /*.cont_box:nth-child(2n-1){background:#fdd000;}*/
    .cont_boxs{width:100%; max-width:1280px; margin:0 auto; margin-bottom:100px;}
        .cont_boxs:last-child{margin-bottom:0;}


    .cont_head{text-align:center; background:#444 !important; color:#fff !important; z-index:1;}
        .cont_head .cont_title_wrap{margin-bottom:20px; text-transform:uppercase;}
            .cont_head .cont_title_wrap .cont_title{margin-bottom:10px;}

    .cont_banner{background:#fdd000; position:relative; overflow:inherit !important; z-index:2; padding:50px 0;}
        .cont_banner:before{position:absolute; z-index:1; content:""; background:#fdd000; width:50px; height:50px; bottom:-25px; left:50%; -webkit-transform:translate(-50%,0) rotate(-45deg); -ms-transform:translate(-50%,0) rotate(-45deg); transform:translate(-50%,0) rotate(-45deg);}
            .cont_banner .cont_title{font-size:1.4em;}

    .cont_title_wrap{font-size:24px; margin-bottom:40px; position:relative;}
        .cont_title_wrap:last-child{margin-bottom:0;}
            .cont_title{font-size:1.8em; line-height:1.2; letter-spacing:-3px;}
                .cont_title h1{font-size:2.8em; text-transform:uppercase;}
                .cont_title h2{font-size:1.4em;}
                .cont_title h3{font-size:1.2em;}

            .cont_title_info{margin:15px 0;}
                .cont_title_info:first-child{margin-top:0;}
                .cont_title_info:last-child{margin-bottom:0;}

        .cont_title_bg{position:relative;}
            .cont_title_bg:before{transition: All 0.4s ease; -webkit-transition: All 0.4s ease; -moz-transition: All 0.4s ease; -o-transition: All 0.4s ease; content:""; position:absolute; background:#fdd000; padding:0px; width:0; height:50%; z-index:-1; top:75%; left:50%; -webkit-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%); transform:translate(-50%,-50%);}
            .cont_title_bg2:before{background:#fff;}
            .cont_title_bg_active:before{padding:0px 20px; width:100%;}

    .cont_text_wrap{margin:40px 0;}
        .cont_text_wrap:first-child{margin-top:0;}
        .cont_text_wrap:last-child{margin-bottom:0;}
            .cont_text_box{margin-bottom:20px;}
                .cont_text_box:last-child{margin-bottom:0;}
                .cont_text_title{font-size:1.4em; line-height:1.2;}
                    .cont_text_title b{font-weight:400;}
                .cont_text{margin:20px 0;}
                    .cont_text:first-child{margin-top:0;}
                    .cont_text:last-child{margin-bottom:0;}
                .cont_text_inner{margin:5px 0;}
                    .cont_text_inner:first-child{margin-top:0 !important;}
                    .cont_text_inner:last-child{margin-bottom:0 !important;}
                .cont_text_info{font-size:0.9em; opacity:0.7;}
                .cont_text_info2{opacity:1;font-weight:400;color:#424242;}
                .cont_text_label{background:#000; color:#fff; font-size:0.6em; padding:2px 8px; border-radius:5px; vertical-align:middle;}


    .cont_list > ul{display:flex; width:100%; flex-wrap:wrap;}
        .cont_list_width > ul{display:table; width:auto; margin:0 auto; text-align:center;}
            .cont_list_width > ul > li{float:none !important;}
        .cont_list_align > ul{margin:0;}
        .cont_list_content_align > ul{align-items:center;}
            .cont_list_content > ul > li{margin-right:50px !important; margin-top:0 !important; width:calc(1 / 2 * 100% - (1 - 1 / 2) * 50px) !important;}
                .cont_list_content > ul > li:nth-child(2n){margin-right:0 !important;}
        .cont_list_content_search > ul > li:last-child .input_btn_wrap{float:right;}

        .cont_list > ul > li{display:inline-block; vertical-align:middle; margin-right:20px; margin-top:20px;}
            .cont_list1 > ul > li{width:100%; margin-right:0;}
                .cont_list1 > ul > li:first-child{margin-top:0;}
            .cont_list2 > ul > li{width:calc(1 / 2 * 100% - (1 - 1 / 2) * 20px);}
                .cont_list2 > ul > li:nth-child(-n+2) {margin-top:0;}
                .cont_list2 > ul > li:nth-child(2n){margin-right:0;}
            .cont_list3 > ul > li{width:calc(1 / 3 * 100% - (1 - 1 / 3) * 20px);}
                .cont_list3 > ul > li:nth-child(-n+3) {margin-top:0;}
                .cont_list3 > ul > li:nth-child(3n){margin-right:0;}
            .cont_list4 > ul > li{width:calc(1 / 4 * 100% - (1 - 1 / 4) * 20px);}
                .cont_list4 > ul > li:nth-child(-n+4) {margin-top:0;}
                .cont_list4 > ul > li:nth-child(4n){margin-right:0;}
            .cont_list5 > ul > li{width:calc(1 / 5 * 100% - (1 - 1 / 5) * 20px);}
                .cont_list5 > ul > li:nth-child(-n+5) {margin-top:0;}
                .cont_list5 > ul > li:nth-child(5n){margin-right:0;}
            .cont_list6 > ul > li{width:calc(1 / 6 * 100% - (1 - 1 / 6) * 20px);}
                .cont_list6 > ul > li:nth-child(-n+6) {margin-top:0;}
                .cont_list6 > ul > li:nth-child(6n){margin-right:0;}

            
        .cont_list_small > ul > li{display:inline-block; float:left; margin-right:10px; margin-top:10px;}
            .cont_list_small1 > ul > li{width:100%; margin-right:0;}
                .cont_list_small1 > ul > li:first-child{margin-top:0;}
            .cont_list_small2 > ul > li{width:calc(1 / 2 * 100% - (1 - 1 / 2) * 10px);}
                .cont_list_small2 > ul > li:nth-child(-n+2) {margin-top:0;}
                .cont_list_small2 > ul > li:nth-child(2n){margin-right:0;}
            .cont_list_small3 > ul > li{width:calc(1 / 3 * 100% - (1 - 1 / 3) * 10px);}
                .cont_list_small3 > ul > li:nth-child(-n+3) {margin-top:0;}
                .cont_list_small3 > ul > li:nth-child(3n){margin-right:0;}
            .cont_list_small4 > ul > li{width:calc(1 / 4 * 100% - (1 - 1 / 4) * 10px);}
                .cont_list_small4 > ul > li:nth-child(-n+4) {margin-top:0;}
                .cont_list_small4 > ul > li:nth-child(4n){margin-right:0;}
            .cont_list_small5 > ul > li{width:calc(1 / 5 * 100% - (1 - 1 / 5) * 10px);}
                .cont_list_small5 > ul > li:nth-child(-n+5) {margin-top:0;}
                .cont_list_small5 > ul > li:nth-child(5n){margin-right:0;}


    .cont_gallery_list > ul > li{position:relative;}
        .cont_gallery_list > ul > li .cont_gallery_list_box{height:100%;overflow:hidden; border-radius:10px; border:1px solid rgba(0,0,0,0.1); margin:0; background:#fff;}
        .cont_gallery_list2 > ul > li .cont_gallery_list_box{border-radius:0; box-shadow:inherit;}
            .cont_gallery_list > ul > li .cont_gallery_list_box .cont_text_box{padding:8%;}
            .cont_gallery_list2 > ul > li .cont_gallery_list_box .cont_text_box{padding:8% 0;}
            .cont_gallery_list > ul > li .cont_gallery_list_box .cont_gallery_list_img{position:relative; overflow:hidden;}
                .cont_gallery_list > ul > li .cont_gallery_list_box .cont_gallery_list_img img{position:absolute; top:50%; left:50%; -webkit-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%); transform:translate(-50%,-50%); transition: All 0.1s ease; -webkit-transition: All 0.1s ease; -moz-transition: All 0.1s ease; -o-transition: All 0.1s ease;}
                .cont_gallery_list > ul > li:hover .cont_gallery_list_box .cont_gallery_list_img img{-webkit-transform:translate(-50%,-50%) scale(1.1); -ms-transform:translate(-50%,-50%) scale(1.1); transform:translate(-50%,-50%) scale(1.1);}

            .cont_gallery_list_label{position:absolute; right:10px; bottom:10px; background:#000; color:#fff; padding:5px 15px; z-index:1; border-radius:100px;}
                .cont_gallery_list_label1{background:#ff5a5a;}
                .cont_gallery_list_label2{background:#007eff;}

            .cont_gallery_list .text_wrap .text{word-break:break-word;}


        .cont_gallery_list_end{position:absolute; z-index:1; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,0.5); text-align:center; color:#fff;}


    .cont_list_map > ul > li{position:relative; display:inline-block; padding:0 15px;}
        .cont_list_map > ul > li:first-child{padding-left:0;}
        .cont_list_map > ul > li:last-child{padding-right:0;}
        .cont_list_map > ul > li:before{height:8px; width:8px; position:absolute; top:55%; right:-5px; margin:0; border:solid rgba(255,255,255,0.5); border-width:0 0 1px 1px; content:""; display:inline-block; transition:All 0.2s ease; -webkit-transition:All 0.2s ease; -moz-transition:All 0.2s ease; -o-transition:All 0.2s ease; -webkit-transform:translate(0,-50%) rotate(-135deg); -ms-transform:translate(0,-50%) rotate(-135deg); transform:translate(0,-50%) rotate(-135deg);}
        .cont_list_map > ul > li:last-child:before{display:none;}


    .cont_tab{margin-bottom:30px;}
        .cont_tab ul{display:table; width:100%; background:#f4f6f8; border-top:1px solid rgba(0,0,0,0.1);}
            .cont_tab ul li{display:table-cell; width:10%; border-right:1px solid rgba(0,0,0,0.1); border-bottom:1px solid rgba(0,0,0,0.1);}
                .cont_tab ul li:first-child{border-left:1px solid rgba(0,0,0,0.1);}
            .cont_tab ul li.check{background:#fff; border-bottom:0;}
                .cont_tab ul li a{display:block; width:100%; padding:15px 0;}


    .cont_info_wrap{background:#f4f6f8; padding:30px;}
    .cont_info_wrap2{background:#fff; border:1px solid rgba(0,0,0,0.1);}
        .cont_info{}
        .cont_info:first-child{margin-top:0;}
        .cont_info:last-child{margin-bottom:0;}
        .cont_info > ul{border:0;}
            .cont_info > ul > li{margin:10px 0; padding-left:10px; position:relative; border-top:0;}
            .cont_info2 > ul > li{margin:20px 0;}
                .cont_info > ul > li:first-child{padding-top:0; margin-top:0;}
                .cont_info > ul > li:last-child{padding-bottom:0; margin-bottom:0;}
                .cont_info > ul > li:after{content:""; position:absolute; top:0.5em; left:0; width:6px; height:1px; background:#0d5646;}

        .cont_info_num > ul{counter-reset:list-number;}
            .cont_info_num > ul > li{margin-left:1em; padding-left:1em;}
            .cont_info_num > ul > li:before{position:absolute; left:-1em; text-align:center; counter-increment:list-number; content:counters(list-number, ""); background:#666; color:#fff; width:1.5em; height:1.5em; line-height:1.5em; border-radius:4px; font-size:0.9em; font-weight:500;}
            .cont_info_num > ul > li:after{display:none;}


    .cont_wrap{padding:0; padding-top:60px;}
        .cont_box{padding:50px 20px !important;}
        .cont_box.cont_banner{padding:30px !important;}
            .cont_boxs{margin-bottom:30px;}
                .cont_title_wrap{margin-bottom:20px; font-size:16px;}
                    .cont_banner .cont_title{font-size:1.4em;}
                    .cont_title{letter-spacing:-1px;}
                    .cont_title h1{font-size:1.4em;}
                    .cont_title h2{font-size:1.2em;}
                    .cont_title h3{font-size:1.1em;}

                .cont_text_wrap{margin:30px 0;}
                    .cont_text_title{font-size:1.2em;}
                    .cont_text{margin:15px 0;}

        .cont_list_width{display:flex;}
        .cont_list_width_m > ul{display:table;}

        .cont_list_m > ul > li{margin-right:15px !important; margin-top:15px !important;}
            .cont_list_m1 > ul > li{width:100%; margin-right:0; height:auto; margin-right:0 !important;}
                .cont_list_m1 > ul > li:first-child{margin-top:0 !important;}
                .cont_list_m1 > ul > li:nth-child(2n){margin-right:0 !important;}
            .cont_list_m2 > ul > li{width:calc(1 / 2 * 100% - (1 - 1 / 2) * 15px);}
                .cont_list_m2 > ul > li:nth-child(-n+2){margin-top:0 !important;}
                .cont_list_m2 > ul > li:nth-child(2n){margin-right:0 !important;}
            .cont_list_m3 > ul > li{width:calc(1 / 3 * 100% - (1 - 1 / 3) * 15px);}
                .cont_list_m3 > ul > li:nth-child(-n+3){margin-top:0 !important;}
                .cont_list_m3 > ul > li:nth-child(3n){margin-right:0 !important;}
            .cont_list_m4 > ul > li{width:calc(1 / 4 * 100% - (1 - 1 / 4) * 15px);}
                .cont_list_m4 > ul > li:nth-child(-n+4){margin-top:0 !important;}
                .cont_list_m4 > ul > li:nth-child(4n){margin-right:0 !important;}


        .cont_list_small_m > ul > li{margin-right:5px !important; margin-top:5px !important;}
            .cont_list_small_m1 > ul > li{width:100%; margin-right:0; height:auto;}
                .cont_list_small_m1 > ul > li:first-child{margin-top:0 !important;}
                .cont_list_small_m1 > ul > li:nth-child(2n){margin-right:0 !important;}
            .cont_list_small_m2 > ul > li{width:calc(1 / 2 * 100% - (1 - 1 / 2) * 5px);}
                .cont_list_small_m2 > ul > li:nth-child(-n+2) {margin-top:0 !important;}
                .cont_list_small_m2 > ul > li:nth-child(2n){margin-right:0 !important;}
            .cont_list_small_m3 > ul > li{width:calc(1 / 3 * 100% - (1 - 1 / 3) * 5px);}
                .cont_list_small_m3 > ul > li:nth-child(-n+3) {margin-top:0 !important;}
                .cont_list_small_m3 > ul > li:nth-child(3n){margin-right:0 !important;}
            .cont_list_small_m4 > ul > li{width:calc(1 / 4 * 100% - (1 - 1 / 4) * 5px);}
                .cont_list_small_m4 > ul > li:nth-child(-n+4) {margin-top:0 !important;}
                .cont_list_small_m4 > ul > li:nth-child(4n){margin-right:0 !important;}


        .cont_gallery_list > ul > li{font-size:13px;}

        .site_map_wrap{padding:0;}
            .site_map_wrap .site_map > ul > li:first-child{display:none;}
            .site_map_wrap ul .site_map_down_menu{width:50%; max-width:50%;}

        .cont_list_content > ul > li{width:100% !important; float:none !important; display:block !important; margin-right:0 !important; margin-bottom:30px !important;}
            .cont_list_content > ul > li:last-child{margin-bottom:0 !important;}

        .cont_gallery_list_label{padding:2px 6px; font-size:11px; right:5px; bottom:5px;}

        .cont_gallery_list_end{font-size:11px;}
        .cont_gallery_list.cont_list_m2 > ul > li .cont_gallery_list_box .cont_text_title{font-size:1em; font-weight:400;}

/* board */
.board{text-align:left;}
       
       .board_w50{width:50px;}
       .board_w75{width:75px;}
       .board_w100{width:100px;}
       .board_w150{width:150px;}
       .board_w175{width:175px;}
       .board_w200{width:200px;}
       .board_w250{width:250px;}
   
       .board_list_btn_wrap{text-align:right; vertical-align:bottom; line-height:1; color:#fff;}
           .board_list_btn button{width:auto; vertical-align:bottom; transition:All 0.2s ease; -webkit-transition:All 0.2s ease; -o-transition:All 0.2s ease; -ms-transition:All 0.2s ease; display:inline-block; position:relative; overflow:hidden; font-weight:normal;}
               .board_list_btn button:after{width:150%; height:150%; left:-250%; top:-25%; content:''; display:block; position:absolute; opacity:0.4; background:-moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 50%, rgba(0,0,0,0) 100%); background:-webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(255,255,255,1) 50%,rgba(0,0,0,0) 100%); background:linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,1) 50%,rgba(0,0,0,0) 100%);}
               .board_list_btn button:hover{-webkit-transform:translateY(-4px); -moz-transform:translateY(-4px); -ms-transform:translateY(-4px); transform:translateY(-4px);}
                   .board_list_btn button:hover:after{left:100%; top:0%; -webkit-transition:left 0.6s, top 0.6s; -moz-transition:left 0.6s, top 0.6s; transition:left 0.6s, top 0.6s; }
   
       .board_list{text-align:center;}
           .board_list table{width:100%; font-size:15px;}
               .board_list table th, .board_list table td{padding:15px 10px;}
               .board_list table thead{}
                   .board_list table thead th{background:#fff; font-weight:400; border-top:2px solid rgba(0,0,0,0.1); border-bottom:1px solid rgba(0,0,0,0.1); text-align:center;}
               .board_list table tbody{}
                   .board_list table tbody td{border-bottom:1px solid rgba(0,0,0,0.1);}
                       .board_list table tbody td a{}
                           .board_list table tbody td a:hover{text-decoration:underline;}
                   .board_list table tbody td img{width:100px;}
                   .board_list table tfoot td{background:#fdd000; border-bottom:1px solid rgba(0,0,0,0.1); font-weight:bold;}
   
               .board_list table tbody tr{position:relative;}
                   .board_list table tbody tr:hover{background:#f4f6f8;}
                   
                   .board_list .board_list_ellipsis{text-align:left;}
                       .board_list .text_wrap{display:block; text-align:left;}
                           .text_wrap .text{overflow:hidden; text-overflow:ellipsis; white-space:normal; word-wrap:break-word; display:-webkit-box; -webkit-box-orient:vertical; box-sizing:border-box;}
                           .text_wrap .text.text1{height:1.3em; -webkit-line-clamp:1;}
                           .text_wrap .text.text2{height:2.6em; -webkit-line-clamp:2;}
                           .text_wrap .text.text3{height:3.9em; -webkit-line-clamp:3;}
                               .board_list .text_wrap .text a em{font-style:inherit;}
                                   .board_list .text_wrap .text a:hover em{color:#1c1c1b; text-decoration:underline;}
   
                       .board_list .text_wrap .board_list_text_none{position:absolute; z-index:1; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,0.5); text-align:center; color:#fff;}
   
           .board_list_none_li{width:100% !important; border:1px solid rgba(0,0,0,0.1);}
           .board_list_none{padding:50px 0; text-align:center;}
           .board_list_hover table tbody tr:hover{background:inherit;}
           .board_list_design th, .board_list_design td{border-right:1px solid rgba(0,0,0,0.1); padding:20px !important;}
           .board_list_design th:first-child{border-left:1px solid rgba(0,0,0,0.1);}
           .board_list_design table thead th{background:#1c1c1b; color:#fff; border-right:1px solid rgba(255,255,255,0.2);}
           .board_list_design table tbody th{border-bottom:1px solid rgba(0,0,0,0.1); font-weight:inherit; background:#f4f6f8;}
   
   
           .board_list_gallery{text-align:left;}
               .board_list_gallery .cont_text{margin:0;}
                   .board_list_gallery .cont_text ul li{margin-top:0;}
                   .board_list_gallery .cont_text_title{margin-bottom:10px;}
   
   
       /* table_info */
           .table_info table{width:100%;}
               .table_info table th, .table_info table td{padding-bottom:15px; vertical-align:middle;}
                   .table_info table tr:last-child th, .table_info table tr:last-child td{padding-bottom:0;}
               .table_info table th{font-weight:500;}
               .table_info1 table th{width:125px;}
               .table_info2 table th{width:225px;}
   
   
   
       .board_search_wrap{width:100%;}
           .board_search_wrap .board_search ul{display:table; width:100%;}
               .board_search_wrap .board_search ul li{display:inline-block; vertical-align:middle; padding-right:5px; float:left;}
                   .board_search_wrap .board_search ul .board_search_select{width:100px;}
                   .board_search_wrap .board_search ul .board_search_right{float:right;}
   
       .board_page_wrap{margin-top:30px; width:100%;}
           .board_page_wrap .board_page ul{display:table; margin:0 auto;}
               .board_page_wrap .board_page ul li{background:#fff; border:1px solid #e0e0e0; border-radius:4px; display:inline-block; margin-right:5px;}
                   .board_page_wrap .board_page ul li:last-child{border-right:1px solid #e0e0e0;}
                   .board_page_wrap .board_page ul li:hover{background:#f4f6f8;}
                   .board_page_wrap .board_page ul li a{cursor:auto; padding:8px 16px; display:block;}
                   .board_page_wrap .board_page ul li a.board_page_link{cursor:pointer;}
                   .board_page_wrap .board_page .board_page_check{background:#fdd000 !important; border:1px solid #fdd000;}
   
  
   /* board_detail */
       .board_detail{}
           .board_detail_title{padding:30px 0; border-top:2px solid #e0e0e0; border-bottom:1px solid #e0e0e0;}
               .board_detail_title h1{font-size:24px; font-weight:400;}
               .board_detail_title .board_detail_title_info{margin-top:15px; color:rgba(0,0,0,0.5);}
                   .board_detail_title .board_detail_title_info span{color:rgba(0,0,0,0.7); margin-right:10px;}
                       .board_detail_title .board_detail_title_info span:last-child{margin-right:0;}
           
           .board_detail_file_wrap{margin-bottom:15px; text-align:right; font-size:13px; display:table; width:100%;}
               .board_detail_file{display:table; border:1px solid rgba(0,0,0,0.1); float:right;}
                   .board_detail_file span{display:table-cell; padding:10px 20px;}
                       .board_detail_file span:first-child{border-right:1px solid rgba(0,0,0,0.1);}
   
           .board_detail_text_wrap{padding:30px 0; text-align:left;}
               .board_detail_text_wrap .board_detail_btn{margin-top:15px; text-align:left; font-size:15px; overflow:hidden;}
                   .board_detail_text_wrap .board_detail_btn a{float:left; background:#333; color:#fff; padding:5px 15px;}
   
           .board_detail_text_wrap .board_detail_text{font-size:1.1em; word-break:break-word;}
               .board_detail_text_wrap .board_detail_text p{margin:0px;}
               
           .board_detail_info{margin:15px 0;}
               .board_detail_info table{width:100%; border:1px solid #e0e0e0; border-radius:10px; border-spacing:15px;}
                   .board_detail_info table tbody th{width:100px; border-right:1px solid #e0e0e0;}
                   .board_detail_info table tbody th, .board_detail_info table tbody td{padding:0px 10px;}
                   .board_detail_info img{max-width:100px; max-height:50px;}
   
           .board_detail_reply_wrap{margin-top:30px; padding-top:30px; display:table; width:100%; border-top:1px solid #e0e0e0;}
               .board_detail_reply_wrap .board_detail_reply_thumb{display:table-cell; width:75px; vertical-align:top; font-size:3.5em; color:#ddd;}
               .board_detail_reply_wrap .board_detail_reply_text_wrap{display:table-cell; padding-left:15px; vertical-align:top;}
                   .board_detail_reply_wrap .board_detail_reply_text_wrap .board_detail_reply_title{font-size:1.4em; margin-bottom:15px; font-weight:400;}
                   .board_detail_reply_wrap .board_detail_reply_text_wrap .board_detail_reply_text{font-size:1.2em; padding:20px; border:1px solid #2affd4; border-radius:10px; position:relative;}
                       .board_detail_reply_wrap .board_detail_reply_text_wrap .board_detail_reply_text:before{content:""; position:absolute; width:0; height:0; left:-20px; top:10px; border-top:20px solid #2affd4; border-left:20px solid transparent;}
                       .board_detail_reply_wrap .board_detail_reply_text_wrap .board_detail_reply_text:after{content:""; position:absolute; width:0; height:0; left:-18px; top:11px; border-top:18px solid #fff; border-left:18px solid transparent;}
           
           .board_detail_btn{margin-top:15px; text-align:left;}
               .board_detail_btn ul li{display:inline-block;}
                   .board_detail_btn ul li:nth-child(n+2){float:right;}
               .board_detail_btn a button{overflow:hidden; width:100%; max-width:200px; position:relative; display:inline-block; transition:All 0.2s ease; -webkit-transition:All 0.2s ease; -o-transition:All 0.2s ease; -ms-transition:All 0.2s ease;}
                   .board_detail_btn a button:after{width:150%; height:150%; left:-250%; top:-25%; content:''; display:block; position:absolute; opacity:0.4; background:-moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 50%, rgba(0,0,0,0) 100%); background:-webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(255,255,255,1) 50%,rgba(0,0,0,0) 100%); background:linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,1) 50%,rgba(0,0,0,0) 100%);}
                   .board_detail_btn a button:hover{-webkit-transform:translateY(-4px); -moz-transform:translateY(-4px); -ms-transform:translateY(-4px); transform:translateY(-4px);}
                       .board_detail_btn a button:hover:after{left:100%; top:-25%; -webkit-transition:left 0.6s, top 0.6s; -moz-transition:left 0.6s, top 0.6s; transition:left 0.6s, top 0.6s; }
               .board_detail_btn a button{cursor:pointer; width:100%; font-size:18px; color:#fff; background:#fdd000; padding:5px 30px; border:0; transition:All 0.2s ease; -webkit-transition:All 0.2s ease; -moz-transition:All 0.2s ease; -o-transition:All 0.2s ease;}
   
   
       .board_detail_list{margin-top:30px; border-top:1px solid #e0e0e0;}
   
       .board_detail_prev_next{margin:30px 0;}
       .board_detail_prev_next ul li{position:relative; display:table; padding:15px 0; width:100%; border-bottom:1px solid #e0e0e0;}
           .board_detail_prev_next ul li:first-child{border-top:1px solid #e0e0e0;}
           .board_detail_prev_next ul li span{display:table-cell; vertical-align:middle;}
               .board_detail_prev_next ul li span:first-child{width:100px;}
               .board_detail_prev_next ul li span a:hover{text-decoration:underline;}

/* input all */
.input_wrap{height:auto !important;}
           .input_wrap3{height:55px !important;}
               .input_wrap3 .btn{font-size:18px; padding:0px 30px;}
           .input_wrap2{height:45px !important;}
               .input_wrap2 .btn{font-size:16px;}
           .input_wrap1{height:35px !important;}
               .input_wrap1 .btn{font-size:14px; padding:0px 15px;}
               .input_wrap1.input_text_wrap label input{padding:0px 10px !important;}
               .input_wrap1.input_text_wrap label span{font-size:13px; -webkit-transform:scale(0.8) translateY(-20px); transform: scale(0.8) translateY(-20px);}
       
           .input_width{display:inline-block; vertical-align:middle;}
           .input_width1{width:100px;}
               .input_width1 .btn{padding:0px 15px;}
           .input_width2{width:200px;}
           .input_width3{width:300px;}
           .input_width4{width:400px;}
           .input_width5{width:500px;}
       
           .input_row{margin-bottom:15px;}
               .input_row:last-child{margin-bottom:0px;}
       
           .input_readonly{background:#f4f6f8 !important;}
       
           .input_text_info{margin-top:5px;}
       
       
       
       /* input */
           .input_text_wrap{position:relative; width:100%; display:inline-block; font-size:16px;}
               .input_text_wrap label input{width:100%; height:100%; padding:5px 15px !important; color:#1c1c1b; box-shadow:0px 0px 0px 1px #ddd; outline:none; border-radius:4px; background:#fff; transition:all 0.15s;}
               .input_text_wrap label input:focus{box-shadow:0px 0px 0px 2px #1a75bc;}
                   .input_text_wrap label input:invalid:not(:focus)+* {cursor:text; border:0px; top:47%; -webkit-transform:scale(1) translate(0,-50%); transform:scale(1) translate(0,-50%); transform-origin:left bottom;}
                   .input_text_wrap label input:focus + span{color:#1a75bc;}
               .input_text_wrap label span{color:#999; position:absolute; top:15%; left:10px; padding:0px 5px; background:#fff; transition:all 0.15s; -webkit-transform:scale(0.8) translateY(-25px); transform:scale(0.8) translateY(-25px); transform-origin:left bottom;}
       
           .input_textarea_wrap{position:relative; width:100%; display:inline-block; font-size:16px;}
               .input_textarea_wrap label textarea{width:100%; height:150px; padding:10px 15px !important; box-shadow:0px 0px 0px 1px #ddd; color:#1c1c1b; outline:none; border-radius:4px; background:#fff; transition:all 0.15s;}
               .input_textarea_wrap label textarea:focus{box-shadow:0px 0px 0px 2px #1a75bc;}
                   .input_textarea_wrap label textarea:invalid:not(:focus)+* {cursor:text; border:0px; -webkit-transform:scale(1) translateY(0); transform:scale(1) translateY(0); transform-origin:left bottom;}
                   .input_textarea_wrap label textarea:focus + span{color:#1a75bc;}
               .input_textarea_wrap label span{color:#999; position:absolute; top:15%; left:10px; padding:0px 5px; background:#fff; transition:all 0.15s; -webkit-transform:scale(0.85) translateY(-25px); transform:scale(0.85) translateY(-25px); transform-origin:left bottom;}
       
       
       /* select */
           .select_wrap{text-align:center; display:flex; width:100%; flex-wrap:wrap;}
               .select_wrap .input_wrap{display:inline-block;  width:calc(1 / 3 * 100% - (1 - 1 / 3) * 10px); margin-right:10px;}
               .select_wrap2 .input_wrap{width:calc(1 / 2 * 100% - (1 - 1 / 2) * 10px); margin-right:10px;}
               .select_wrap .input_wrap:last-child{margin-right:0;}
               .select_wrap .input_select_wrap{position:relative;}
                   .input_select_wrap select{width:100%; padding:10px 15px; background:#fff; color:#1c1c1b; box-shadow:0px 0px 0px 1px #ddd; border-radius:4px;}
                       .input_select_wrap select:-ms-expand{display:none;}
                       .input_select_wrap select:focus{box-shadow:0px 0px 0px 2px #2471c8; outline:none;}
                       .input_select_wrap select{-webkit-appearance:none; -moz-appearance:none;appearance:none;}
                       .input_select_wrap:after{content:""; position:absolute; right:10px; top:35%; width:5px; height:5px; border:solid #ccc; border-width:0 0 2px 2px; display:inline-block; -webkit-transform:rotate(-45deg); -ms-transform:rotate(-45deg); transform:rotate(-45deg);}
       
       
           .input_select_wrap{position:relative; width:100%; display:inline-block; font-size:16px;}
               .input_select_wrap select{width:100%; height:100%; padding:5px 15px !important; padding-right:20px; color:#1c1c1b; box-shadow:0px 0px 0px 1px #ddd; outline:none; border-radius:4px; background:#fff; transition:all 0.15s;}
                   .input_select_wrap select:-ms-expand{display:none;}
                   .input_select_wrap select:focus{box-shadow:0px 0px 0px 2px #2471c8; outline:none;}
                   .input_select_wrap select{-webkit-appearance:none; -moz-appearance:none;appearance:none;}
                   .input_select_wrap:after{content:""; position:absolute; right:10px; top:35%; width:5px; height:5px; border:solid #ccc; border-width:0 0 2px 2px; display:inline-block; -webkit-transform:rotate(-45deg); -ms-transform:rotate(-45deg); transform:rotate(-45deg);}
       
       
       /* input_email */
           .email_input label input{padding-left:30px !important;}
           .email_input:before{content:"@"; z-index:1; position:absolute; top:48%; left:10px; -webkit-transform:translate(0,-50%); -ms-transform:translate(0,-50%); transform:translate(0,-50%);}
       
       
       /* button file */
           .filebox_wrap{display:table; width:100%; height:100%;}
               .filebox_name{display:table-cell; vertical-align:middle; width:60%; height:100%;}
                   .filebox_name input{border-radius:4px; height:100%; display:table-cell; padding:0px 15px; width:100%; background:#fff; box-shadow:0px 0px 0px 1px #ddd}
               .filebox_input{display:table-cell; vertical-align:middle; width:20%; height:100%; position:relative; padding:0px 5px;}
                   .filebox_input label{height:100% !important; width:100%; padding:0 !important;}
                   .filebox_input input{position:absolute; width:1px !important; height:1px !important; padding:0 !important; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0;}
               .filebox_img{display:table-cell; width:20%; height:100%;}
                   .filebox_img img{width:100%; max-height:45px;}
       
       /* btn */
       .input_btn_wrap{}
                   .btn{font-family:'Noto Sans kr',sans-serif; background:#fff; border:1px solid #e0e0e0; font-weight:400; font-size:12px; text-align:center; padding:0px 20px; width:100%; height:100%; font-weight:500; cursor:pointer; font-weight:500; transition:All 0.2s ease; -webkit-transition:All 0.2s ease; -o-transition:All 0.2s ease; -ms-transition:All 0.2s ease; overflow:hidden;}
                   .btn1{background:#fdd000; color:#1c1c1b; border:0;}
                       .btn1:hover{background:#ffdf43;}
                   .btn2{background:#1c1c1b; color:#fff; border:1px solid #1c1c1b;}
                       .btn2:hover{background:#703614; border:1px solid #703614;}
                   .btn3{background:none; border:1px solid #fdd000; color:#fdd000;}
                       .btn3:hover{background:#fdd000; color:#fff;}
                   .btn4{background:none; border:1px solid #fff; color:#fff;}
                       .btn4:hover{background:#fff; color:#222;}
                   .btn5{background:none; border:1px solid #1c1c1b; color:#1c1c1b;}
                       .btn5:hover{background:#fdd000; border:1px solid #fdd000;}
                   .btn_ani:hover{-webkit-transform:translateY(-4px); -moz-transform:translateY(-4px); -ms-transform:translateY(-4px); transform:translateY(-4px);}
