<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title>관리자 페이지</title>
<link type="text/css" href="/src/main/webapp/resources/css/admin/reset.css" rel="stylesheet">
<link type="text/css" href="/src/main/webapp/resources/css/admin/basic.css" rel="stylesheet">
<link type="text/css" href="/src/main/webapp/resources/css/admin/button.css" rel="stylesheet">
<link rel="stylesheet" href="/src/main/webapp/resources/css/admin/admin.css">
<link rel="stylesheet" href="/src/main/webapp/resources/css/admin/jquery-ui.css">

<!-- fontawesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- ionicons -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<link rel="shortcut icon" href="" type="image/x-icon">


<script>
// 자바스크립트에서 사용하는 전역변수 선언
var tb_url		 = "";
var tb_bbs_url	 = "";
var tb_shop_url  = "";
var tb_admin_url = "";
</script>

<script src="/src/main/webapp/resources/js/admin/jquery-1.8.3.min.js"></script>
<script src="/src/main/webapp/resources/js/admin/jquery-ui-1.10.3.custom.js"></script>
<script src="/src/main/webapp/resources/js/admin/common.js"></script>
<script src="/src/main/webapp/resources/js/admin/categorylist.js"></script>
</head>
<body>

<header id="hd">
	<div id="hd_wrap">
		<h1>행복을 주는 쇼핑몰!</h1>
		<div id="logo"><a href="http://demofran.com/admin/"><img src="/src/main/webapp/resources/image/admin/logo.gif" alt="행복을 주는 쇼핑몰! 관리자"></a></div>
		<div id="tnb">
			<ul>
				<li><a href="http://demofran.com/admin/config.php?code=super">관리자정보</a></li>
				<li><a href="http://demofran.com/admin/">관리자홈</a></li>
				<li><a href="http://demofran.com" target="_blank">쇼핑몰</a></li>
				<li id="tnb_logout"><a href="http://demofran.com/bbs/logout.php">로그아웃</a></li>
			</ul>
		</div>

		<nav id="gnb">
			<h2>관리자 주메뉴</h2>
			<ul id="gnb_1dul">
				<li class="gnb_1dli">
					<a href="http://demofran.com/admin/member.php?code=list" class="gnb_1da">회원관리</a>
				</li>
				
				<li class="gnb_1dli">
					<a href="http://demofran.com/admin/goods.php?code=list" class="gnb_1da">상품관리</a>
				</li>
				<li class="gnb_1dli">
					<a href="http://demofran.com/admin/order.php?code=list" class="gnb_1da">주문관리</a>
				</li>

				<li class="gnb_1dli active">
					<a href="http://demofran.com/admin/help.php?code=qa" class="gnb_1da">고객지원</a>
				</li>

				<li class="gnb_1dli">
					<a href="http://demofran.com/admin/config.php?code=default" class="gnb_1da">마이페이지</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
<div id="wrapper">
	
<div id="snb">
	<div class="snb_header ico_config">
		<ion-icon name="accessibility-outline" class="announcement_outline"></ion-icon><h2>고객지원</h2>
	</div>
		<dl>
		<dt class="h10 menu_toggle">고객지원</dt>		
        <dd class="h10"><a href="http://demofran.com/admin/help.php?code=qa">1:1 상담문의</a></dd>		        
        <dt class="h20 menu_toggle">기타 관리</dt>			
        <dd class="h20"><a href="http://demofran.com/admin/help.php?code=faq">공지사항 관리</a></dd>        
        <dd class="h20 active"><a href="http://demofran.com/admin/help.php?code=faq">FAQ 관리</a></dd>	
        </dl>	
        </dl>
	</div>
	<div id="content">
		<div class="breadcrumb">
			<span>HOME</span> <ion-icon name="chevron-forward-outline"></ion-icon> 고객지원 
            <ion-icon name="chevron-forward-outline"></ion-icon> FAQ 관리		
        </div>
	
<div class="s_wrap">
	<h1>FAQ 관리</h1>
	
<h2>기본검색</h2>
<form name="fsearch" id="fsearch" method="get">
<input type="hidden" name="code" value="faq">
<div class="tbl_frm01">
	<table>
	<colgroup>
		<col class="w100">
		<col>
	</colgroup>
	<tbody>
	<tr>
		<th scope="row">검색어</th>
		<td>
			<select name="sca">
				<option value="">FAQ카테고리</option>
				<option value="1">배송문의</option>
<option value="2">취소/교환/반품</option>
<option value="3">환불관련</option>
<option value="4">주문/결제</option>
<option value="5">쿠폰/포인트</option>
<option value="6">회원관련</option>
<option value="7">기타</option>
			</select>
			<select name="sfl">
				<option value="subject">제목</option>
				<option value="memo">내용</option>
			</select>
			<input type="text" name="stx" value="" class="frm_input" size="30">
		</td>
	</tr>
	</tbody>
	</table>
</div>
<div class="btn_confirm">
	<input type="submit" value="검색" class="btn_medium">
	<input type="button" value="초기화" id="frmRest" class="btn_medium grey">	
</div>
</form>

<form name="ffaqlist" id="ffaqlist" method="post" action="./help/help_faq_delete.php" onsubmit="return ffaqlist_submit(this);">
<input type="hidden" name="q1" value="code=faq">
<input type="hidden" name="page" value="1">

<div class="local_ov mart30">
	전체 : <b class="fc_red">0</b> 건 조회
</div>
<div class="local_frm01">
	<input type="submit" name="act_button" value="선택삭제" class="btn_lsmall bx-white" onclick="document.pressed=this.value">
<a href="./help.php?code=faq_from" class="fr btn_lsmall red"><ion-icon name="add-outline"></ion-icon></i> 추가하기</a></div>
<div class="tbl_head01">
	<table>
	<colgroup>
		<col class="w50">
		<col class="w50">
		<col class="w100">
		<col>
		<col class="w80">
		<col class="w60">
	</colgroup>
	<thead>
	<tr>
		<th scope="col"><input type="checkbox" name="chkall" value="1" onclick="check_all(this.form);"></th>
		<th scope="col">번호</th>
		<th scope="col">분류</th>
		<th scope="col">제목</th>
		<th scope="col">등록일</th>
		<th scope="col">관리</th>
	</tr>
	</thead>
	<tbody><tr><td colspan="6" class="empty_table">자료가 없습니다.</td></tr>	</tbody>
	</table>
</div>
<div class="local_frm02">
	<input type="submit" name="act_button" value="선택삭제" class="btn_lsmall bx-white" onclick="document.pressed=this.value">
<a href="./help.php?code=faq_from" class="fr btn_lsmall red"><ion-icon name="add-outline"></ion-icon></i> 추가하기</a></div>
</form>


<script>
function ffaqlist_submit(f)
{
    if(!is_checked("chk[]")) {
        alert(document.pressed+" 하실 항목을 하나 이상 선택하세요.");
        return false;
    }

    if(document.pressed == "선택삭제") {
        if(!confirm("선택한 자료를 정말 삭제하시겠습니까?")) {
            return false;
        }
    }

    return true;
}

var ubDisplay = {
      q_old : "",
      a_old : "",

      display : function(seq){
      var a_new = document.getElementById("view_"+seq);

      if(this.a_old != a_new){
         if(this.a_old != "")
             this.a_old.style.display = "none";
             a_new.style.display = "";
             this.a_old = a_new;
         }else{
             a_new.style.display = "none";
             this.a_old = "";
         }
       }
   };
</script>
</div>

</div>
</div>
<div id="ft">
	<p>Copyright &copy; coffee namuh. All rights reserved.</p>
</div>


<div id="ajax-loading"><img src="/src/main/webapp/resources/image/admin/ajax-loader.gif"></div>
<div id="anc_header"><a href="#anc_hd"><span></span>TOP</a></div>

<script src="/src/main/webapp/resources/js/admin/admin.js"></script>

<script src="/src/main/webapp/resources/js/admin/wrest.js"></script>
</body>
</html>
