<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title>관리자 페이지</title>
<link type="text/css" href="/src/main/webapp/resources/css/admin/reset.css" rel="stylesheet">
<link type="text/css" href="/src/main/webapp/resources/css/admin/basic.css" rel="stylesheet">
<link type="text/css" href="/src/main/webapp/resources/css/admin/button.css" rel="stylesheet">
<link rel="stylesheet" href="/src/main/webapp/resources/css/admin/admin.css">
<link rel="stylesheet" href="/src/main/webapp/resources/css/admin/jquery-ui.css">

<!-- fontawesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- ionicons -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<link rel="shortcut icon" href="" type="image/x-icon">


<script>
// 자바스크립트에서 사용하는 전역변수 선언
var tb_url		 = "";
var tb_bbs_url	 = "";
var tb_shop_url  = "";
var tb_admin_url = "";
</script>

<script src="/src/main/webapp/js/admin/jquery-1.8.3.min.js"></script>
<script src="/src/main/webapp/js/admin/jquery-ui-1.10.3.custom.js"></script>
<script src="/src/main/webapp/js/admin/common.js"></script>
<script src="/src/main/webapp/js/admin/categorylist.js"></script>
</head>
<body>

<header id="hd">
	<div id="hd_wrap">
		<h1>행복을 주는 쇼핑몰!</h1>
		<div id="logo"><a href="http://demofran.com/admin/"><img src="/src/main/webapp/resources/image/admin/logo.gif" alt="행복을 주는 쇼핑몰! 관리자"></a></div>
		<div id="tnb">
			<ul>
				<li><a href="http://demofran.com/admin/config.php?code=super">관리자정보</a></li>
				<li><a href="http://demofran.com/admin/">관리자홈</a></li>
				<li><a href="http://demofran.com" target="_blank">쇼핑몰</a></li>
				<li id="tnb_logout"><a href="http://demofran.com/bbs/logout.php">로그아웃</a></li>
			</ul>
		</div>

		<nav id="gnb">
			<h2>관리자 주메뉴</h2>
			<ul id="gnb_1dul">
				<li class="gnb_1dli">
					<a href="http://demofran.com/admin/member.php?code=list" class="gnb_1da">회원관리</a>
				</li>
				
				<li class="gnb_1dli">
					<a href="http://demofran.com/admin/goods.php?code=list" class="gnb_1da">상품관리</a>
				</li>
				<li class="gnb_1dli">
					<a href="http://demofran.com/admin/order.php?code=list" class="gnb_1da">주문관리</a>
				</li>
				
				<li class="gnb_1dli">
					<a href="http://demofran.com/admin/help.php?code=qa" class="gnb_1da">고객지원</a>
				</li>
				
				<li class="gnb_1dli active">
					<a href="http://demofran.com/admin/config.php?code=default" class="gnb_1da">마이페이지</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
<div id="wrapper">
	
<div id="snb">
	<div class="snb_header ico_config">
		<ion-icon name="construct-outline" class="construct_outline"></ion-icon><h2>마이페이지</h2>
	</div>
		<dl>
		<dt class="q10 menu_toggle">기본환경설정</dt>		
        <dd class="q10 active"><a href="http://demofran.com/admin/config.php?code=super">관리자 정보수정</a></dd>		
        </dl>
	</div>
	<div id="content">
		<div class="breadcrumb">
			<span>HOME</span> <ion-icon name="chevron-forward-outline"></ion-icon> 마이페이지 
            <ion-icon name="chevron-forward-outline"></ion-icon> 관리자 정보수정		
        </div>
	
<div class="s_wrap">
	<h1>관리자 정보수정</h1>
	
<form name="fregform" method="post" action="./config/super_update.php">
<input type="hidden" name="token" value="">

<h2>비밀번호 수정</h2>
<div class="tbl_frm01">
	<table>
	<colgroup>
		<col class="w180">
		<col>
	</colgroup>
	<tbody>
	<tr>
		<th scope="row">관리자 비밀번호</th>
		<td>
			<input type="text" name="passwd" class="frm_input">
			<span class="frm_info fc_125">비밀번호는 되도록 영,숫자를 같이 사용하시는 것이 좋습니다.<br>비밀번호는 상점 관리에 매우 중요하므로 상점 관리자 외 정보유출을 주의하시고 정기적으로 비밀번호를 변경하세요.</span>		</td>
	</tr>
	</tbody>
	</table>
</div>

<div class="btn_confirm">
	<input type="submit" value="저장" class="btn_large" accesskey="s">
</div>
</form>
</div>

</div>
</div>
<div id="ft">
	<p>Copyright &copy; coffee namuh. All rights reserved.</p>
</div>


<div id="ajax-loading"><img src="/src/main/webapp/resources/image/admin/ajax-loader.gif"></div>
<div id="anc_header"><a href="#anc_hd"><span></span>TOP</a></div>

<script src="/src/main/webapp/resources/js/admin/admin.js"></script>

<script src="/src/main/webapp/resources/js/admin/wrest.js"></script>
</body>
</html>
