<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title>관리자 페이지</title>
<link type="text/css" href="/src/main/webapp/resources/css/admin/reset.css" rel="stylesheet">
<link type="text/css" href="/src/main/webapp/resources/css/admin/basic.css" rel="stylesheet">
<link type="text/css" href="/src/main/webapp/resources/css/admin/button.css" rel="stylesheet">
<link rel="stylesheet" href="/src/main/webapp/resources/css/admin/admin.css">
<link rel="stylesheet" href="/src/main/webapp/resources/css/admin/jquery-ui.css">

<!-- fontawesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- ionicons -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<link rel="shortcut icon" href="" type="image/x-icon">


<script>
// 자바스크립트에서 사용하는 전역변수 선언
var tb_url		 = "";
var tb_bbs_url	 = "";
var tb_shop_url  = "";
var tb_admin_url = "";
</script>

<script src="/src/main/webapp/resources/js/admin/jquery-1.8.3.min.js"></script>
<script src="/src/main/webapp/resources/js/admin/jquery-ui-1.10.3.custom.js"></script>
<script src="/src/main/webapp/resources/js/admin/common.js"></script>
<script src="/src/main/webapp/resources/js/admin/categorylist.js"></script>
</head>
<body>

<header id="hd">
	<div id="hd_wrap">
		<h1>행복을 주는 쇼핑몰!</h1>
		<div id="logo"><a href="http://demofran.com/admin/"><img src="/src/main/webapp/resources/image/admin/logo.gif" alt="행복을 주는 쇼핑몰! 관리자"></a></div>
		<div id="tnb">
			<ul>
				<li><a href="http://demofran.com/admin/config.php?code=super">관리자정보</a></li>
				<li><a href="http://demofran.com/admin/">관리자홈</a></li>
				<li><a href="http://demofran.com" target="_blank">홈페이지</a></li>
				<li id="tnb_logout"><a href="http://demofran.com/bbs/logout.php">로그아웃</a></li>
			</ul>
		</div>

		<nav id="gnb">
			<h2>관리자 주메뉴</h2>
			<ul id="gnb_1dul">
				<li class="gnb_1dli">
					<a href="http://demofran.com/admin/member.php?code=list" class="gnb_1da">회원관리</a>
				</li>
				
				<li class="gnb_1dli">
					<a href="http://demofran.com/admin/goods.php?code=list" class="gnb_1da">상품관리</a>
				</li>
				<li class="gnb_1dli active">
					<a href="http://demofran.com/admin/order.php?code=list" class="gnb_1da">주문관리</a>
				</li>
				
				<li class="gnb_1dli">
					<a href="http://demofran.com/admin/help.php?code=qa" class="gnb_1da">고객지원</a>
				</li>
				
				<li class="gnb_1dli">
					<a href="http://demofran.com/admin/config.php?code=default" class="gnb_1da">마이페이지</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
<div id="wrapper">
	
<div id="snb">
	<div class="snb_header ico_config">
		<ion-icon name="reader-outline" class="order_outline"></ion-icon><h2>주문관리</h2>
	</div>
		<dl>
		<dt class="o10 menu_toggle">주문관리</dt>		
        <dd class="o10"><a href="http://demofran.com/admin/order.php?code=list">주문리스트(전체)</a></dd>		
        <dd class="o10 active"><a href="http://demofran.com/admin/order.php?code=3">배송준비</a></dd>		
        <dd class="o10"><a href="http://demofran.com/admin/order.php?code=4">배송중</a></dd>		
        <dd class="o10"><a href="http://demofran.com/admin/order.php?code=5">배송완료</a></dd>		
        </dl>
	</div>
	<div id="content">
		<div class="breadcrumb">
			<span>HOME</span> <ion-icon name="chevron-forward-outline"></ion-icon> 주문관리 
            <ion-icon name="chevron-forward-outline"></ion-icon> 배송준비		
        </div>
	
<div class="s_wrap">
	<h1>배송준비</h1>
	
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/jquery-ui.min.js"></script>
<script>
jQuery(function($){
    $.datepicker.regional["ko"] = {
        closeText: "닫기",
        prevText: "이전달",
        nextText: "다음달",
        currentText: "오늘",
        monthNames: ["1월(JAN)","2월(FEB)","3월(MAR)","4월(APR)","5월(MAY)","6월(JUN)", "7월(JUL)","8월(AUG)","9월(SEP)","10월(OCT)","11월(NOV)","12월(DEC)"],
        monthNamesShort: ["1월","2월","3월","4월","5월","6월", "7월","8월","9월","10월","11월","12월"],
        dayNames: ["일","월","화","수","목","금","토"],
        dayNamesShort: ["일","월","화","수","목","금","토"],
        dayNamesMin: ["일","월","화","수","목","금","토"],
        weekHeader: "Wk",
        dateFormat: "yymmdd",
        firstDay: 0,
        isRTL: false,
        showMonthAfterYear: true,
        yearSuffix: ""
    };
	$.datepicker.setDefaults($.datepicker.regional["ko"]);
});
</script>
<h2>기본검색</h2>
<form name="fsearch" id="fsearch" method="get">
<input type="hidden" name="code" value="3">
<div class="tbl_frm01">
	<table>
	<colgroup>
		<col class="w100">
		<col>
	</colgroup>
	<tbody>
	<tr>
		<th scope="row">검색어</th>
		<td>
			<select name="sfl">
				<option value="od_id">주문번호</option>
				<option value="od_no">일련번호</option>
				<option value="mb_id">회원아이디</option>
				<option value="name">주문자명</option>
				<option value="deposit_name">입금자명</option>
				<option value="bank">입금계좌</option>
				<option value="b_name">수령자명</option>
				<option value="b_telephone">수령자집전화</option>
				<option value="b_cellphone">수령자핸드폰</option>
				<option value="delivery_no">운송장번호</option>
				<option value="seller_id">판매자ID</option>
				<option value="pt_id">가맹점ID</option>
			</select>
			<input type="text" name="stx" value="" class="frm_input" size="30">
		</td>
	</tr>
	<tr>
		<th scope="row">기간검색</th>
		<td>
			<select name="sel_field">
				<option value="od_time">주문일</option>
				<option value="receipt_time">입금완료일</option>
			</select>
			<label for="fr_date" class="sound_only">시작일</label>
<input type="text" name="fr_date" value="" id="fr_date" class="frm_input w80" maxlength="10">
 ~ 
<label for="to_date" class="sound_only">종료일</label>
<input type="text" name="to_date" value="" id="to_date" class="frm_input w80" maxlength="10">
<span class="btn_group"><input type="button" onclick="search_date('fr_date','to_date',this.value);" class="btn_small white" value="오늘"><input type="button" onclick="search_date('fr_date','to_date',this.value);" class="btn_small white" value="어제"><input type="button" onclick="search_date('fr_date','to_date',this.value);" class="btn_small white" value="일주일"><input type="button" onclick="search_date('fr_date','to_date',this.value);" class="btn_small white" value="지난달"><input type="button" onclick="search_date('fr_date','to_date',this.value);" class="btn_small white" value="1개월"><input type="button" onclick="search_date('fr_date','to_date',this.value);" class="btn_small white" value="3개월"><input type="button" onclick="search_date('fr_date','to_date',this.value);" class="btn_small white" value="전체"></span>		</td>
	</tr>
	<tr>
		<th scope="row">결제방법</th>
		<td>
			<label><input type="radio" name="od_settle_case" value="" checked="checked"> 전체</label>
			<label><input type="radio" name="od_settle_case" value="무통장"> 무통장</label>
			<label><input type="radio" name="od_settle_case" value="가상계좌"> 가상계좌</label>
			<label><input type="radio" name="od_settle_case" value="계좌이체"> 계좌이체</label>
			<label><input type="radio" name="od_settle_case" value="휴대폰"> 휴대폰</label>
			<label><input type="radio" name="od_settle_case" value="신용카드"> 신용카드</label>
			<label><input type="radio" name="od_settle_case" value="간편결제"> PG간편결제</label>
			<label><input type="radio" name="od_settle_case" value="KAKAOPAY"> KAKAOPAY</label>
		</td>
	</tr>
	<tr>
		<th scope="row">기타선택</th>
		<td>
			<label><input type="checkbox" name="od_taxbill" value="Y"> 세금계산서</label>
			<label><input type="checkbox" name="od_taxsave" value="Y"> 현금영수증</label>
			<label><input type="checkbox" name="od_memo" value="Y"> 배송메세지</label>
			<label><input type="checkbox" name="od_shop_memo" value="Y"> 관리자메모</label>
			<label><input type="checkbox" name="od_receipt_point" value="Y"> 포인트주문</label>
			<label><input type="checkbox" name="od_coupon" value="Y"> 쿠폰할인</label>
			<label><input type="checkbox" name="od_escrow" value="Y"> 에스크로</label>
		</td>
	</tr>
	</tbody>
	</table>
</div>
<div class="btn_confirm">
	<input type="submit" value="검색" class="btn_medium">
	<input type="button" value="초기화" id="frmRest" class="btn_medium grey">
</div>
</form>

<div class="local_ov mart30">
	전체 : <b class="fc_red">0</b> 건 조회
	<select id="page_rows" onchange="location='/admin/order.php?code=3&page=1&page_rows='+this.value;" class="marl5">
		<option value="30" selected="selected">30줄 정렬</option>
		<option value="50">50줄 정렬</option>
		<option value="100">100줄 정렬</option>
		<option value="150">150줄 정렬</option>
	</select>
	<strong class="ov_a">총주문액 : 0원</strong>
</div>

<form name="forderlist" id="forderlist" action="./order/order_update.php" onsubmit="return forderlist_submit(this);" method="post">
<input type="hidden" name="q1" value="code=3">
<input type="hidden" name="page" value="1">

<div class="local_frm01">
	<input type="submit" name="act_button" value="운송장번호수정" class="btn_lsmall white" onclick="document.pressed=this.value">
<a href="#" id="frmOrderPrint" class="btn_lsmall white"><i class="fa fa-print"></i> 주문서출력</a>
<a href="#" id="frmOrderExcel" class="btn_lsmall white"><i class="fa fa-file-excel-o"></i> 선택 엑셀저장</a>
<a href="./order/order_excel.php?code=3" class="btn_lsmall white"><i class="fa fa-file-excel-o"></i> 검색결과 엑셀저장</a>
<a href="./order.php?code=delivery" class="btn_lsmall"><i class="fa fa-upload"></i> 엑셀배송처리</a></div>
<div class="tbl_head01">
	<table id="sodr_list">
	<colgroup>
		<col class="w50">
		<col class="w100">
		<col class="w150">
		<col class="w40">
		<col class="w40">
		<col class="w30">
		<col class="w400">
		<col class="w90">
		<col>
		<col>
		<col class="w90">
		<col class="w90">
		<col class="w90">
		<col class="w90">
	</colgroup>
	<thead>
	<tr>
		<th scope="col">번호</th>
		<th scope="col">주문일시</th>
		<th scope="col">주문번호</th>
		<th scope="col"><input type="checkbox" id="sit_select_all"></th>
		<th scope="col" colspan="3">주문상품</th>
		<th scope="col">판매자</th>
		<th scope="col">배송회사</th>
		<th scope="col">운송장번호</th>
		<th scope="col">가맹점</th>
		<th scope="col">주문자</th>
		<th scope="col">수령자</th>
		<th scope="col">총주문액</th>
	</tr>
	</thead>
	<tbody>
	<tr><td colspan="14" class="empty_table">자료가 없습니다.</td></tr>	</tbody>
	</table>
</div>
<div class="local_frm02">
	<input type="submit" name="act_button" value="운송장번호수정" class="btn_lsmall white" onclick="document.pressed=this.value">
<a href="#" id="frmOrderPrint" class="btn_lsmall white"><i class="fa fa-print"></i> 주문서출력</a>
<a href="#" id="frmOrderExcel" class="btn_lsmall white"><i class="fa fa-file-excel-o"></i> 선택 엑셀저장</a>
<a href="./order/order_excel.php?code=3" class="btn_lsmall white"><i class="fa fa-file-excel-o"></i> 검색결과 엑셀저장</a>
<a href="./order.php?code=delivery" class="btn_lsmall"><i class="fa fa-upload"></i> 엑셀배송처리</a></div>



<script>
$(function(){
    $("#fr_date, #to_date").datepicker({ changeMonth: true, changeYear: true, dateFormat: "yy-mm-dd", showButtonPanel: true, yearRange: "c-99:c+99", maxDate: "+0d" });

	// 전체 상품선택
    $("#sit_select_all").click(function() {
        if($(this).is(":checked")) {
            $("input[name='it_sel[]']").attr("checked", true);
            $("input[name^=chk]").attr("checked", true);
        } else {
            $("input[name='it_sel[]']").attr("checked", false);
            $("input[name^=chk]").attr("checked", false);
        }
    });

    // 주문의 상품선택
    $("input[name='it_sel[]']").click(function() {
        var cls = $(this).attr("id").replace("sit_", "sct_");
        var $chk = $("input[name^=chk]."+cls);
        if($(this).is(":checked"))
            $chk.attr("checked", true);
        else
            $chk.attr("checked", false);
    });

	// 주문서출력
	$("#frmOrderPrint, #frmOrderExcel").on("click", function() {
		var type = $(this).attr("id");
		var od_chk = new Array();
		var od_id = "";
		var $el_chk = $("input[name='it_sel[]']");

		$el_chk.each(function(index) {
			if($(this).is(":checked")) {
				od_chk.push($("input[name='od_id["+index+"]']").val());
			}
		});

		if(od_chk.length > 0) {
			od_id = od_chk.join();
		}

		if(od_id == "") {
			alert("처리할 자료를 하나 이상 선택해 주십시오.");
			return false;
		} else {
			if(type == 'frmOrderPrint') {
				var url = "./order/order_print.php?od_id="+od_id;
				window.open(url, "frmOrderPrint", "left=100, top=100, width=670, height=600, scrollbars=yes");
				return false;
			} else {
				this.href = "./order/order_excel2.php?od_id="+od_id;
				return true;
			}
		}
	});
});
</script>

<script>
function forderlist_submit(f)
{
    if(!is_checked("chk[]")) {
        alert(document.pressed+" 하실 항목을 하나 이상 선택하세요.");
        return false;
    }

	if(document.pressed == "배송중") {
		if(f.delivery2.value && f.delivery_no2.value) {
			var $el_chk = $("input[name='chk[]']");
			$el_chk.each(function(index) {
				if($(this).is(":checked")) {
					$("select[name='delivery["+index+"]']").val(f.delivery2.value);
					$("input[name='delivery_no["+index+"]']").val(f.delivery_no2.value);
				}
			});
		}

		if(!confirm("선택하신 주문서의 주문상태를 '"+document.pressed+"'상태로 변경하시겠습니까?"))
			return false;
	}

	return true;
}
</script>
</div>

</div>
</div>
<div id="ft">
	<p>Copyright &copy; coffee namuh. All rights reserved.</p>
</div>


<div id="ajax-loading"><img src="/src/main/webapp/resources/image/admin/ajax-loader.gif"></div>
<div id="anc_header"><a href="#anc_hd"><span></span>TOP</a></div>

<script src="/src/main/webapp/resources/js/admin/admin.js"></script>

<script src="/src/main/webapp/resources/js/admin/wrest.js"></script>
</body>
</html>
