<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
				
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />		
	</settings>

	<typeAliases>
		<typeAlias type="com.cafeapp.dto.user.User" alias="User" />
		<typeAlias type="com.cafeapp.dto.user.UserSearchCondition" alias="UserSearchCondition"/>
		
		<typeAlias type="com.cafeapp.dto.board.Announcement" alias="Announcement" />
		<typeAlias type="com.cafeapp.dto.board.AnnouncementSearchCondition" alias="AnnouncementSearchCondition" />
		
		<typeAlias type="com.cafeapp.dto.board.Faq" alias="Faq" />
		<typeAlias type="com.cafeapp.dto.board.FaqSearchCondition" alias="FaqSearchCondition" />
		
		<typeAlias type="com.cafeapp.dto.feedback.Feedback" alias="Feedback" />
		<typeAlias type="com.cafeapp.dto.feedback.FeedbackSearchCondition" alias="FeedbackSearchCondition" />
		
		<typeAlias type="com.cafeapp.dto.feedback.Response" alias="Response" />
		<typeAlias type="com.cafeapp.dto.feedback.ResponseWithFeedback" alias="ResponseWithFeedback" />
	
		<typeAlias type="com.cafeapp.dto.order.OrderList" alias="OrderList" />
		<typeAlias type="com.cafeapp.dto.order.OrderSearchCondition" alias="OrderSearchCondition" />
		<typeAlias type="com.cafeapp.dto.order.OrderDetail" alias="OrderDetail" />	
		<typeAlias type="com.cafeapp.dto.order.Order" alias="Order" />
	
	
		<!--  -->
		<typeAlias type="com.cafeapp.dto.user.User" alias="User" />

		<typeAlias type="com.cafeapp.dto.feedback.Feedback" alias="Feedback"/>
		
		<typeAlias type="com.cafeapp.dto.menu.Menu" alias="Menu"/>
	</typeAliases>
	

</configuration>